{% extends "base.html" %}
{% load i18n %}
{% load car_rent %}

{% block content %}
	{% language request.user.lang %}

    <h2 class="mt-4 mb-4">{% translate "Cars in rent" %}</h2>
    <section>
    {% for car in object_list %}
    	<div>
	    	<b>
		    	{% get_translated_car_name car request.user.lang %}
	    	</b>
	    	{% translate "Production year:" %} {{ car.production_year }}

            {% if car.renter %}
                
            <i>
                
                {% translate "Renter:" %} {{ car.renter.first_name }}
                
            </i>
            {% endif %}
            <a href="{% url 'car_rent:set_renter' car.pk %}">
                <button class="btn btn-primary" >{% translate "Set new renter" %}</button>
            </a>
    	</div>
    {% endfor %}
    </section>

    {% endlanguage %}
{% endblock %}