{% extends "base.html" %}
{% load i18n %}
{% load car_rent %}

{% block content %}
	{% language request.user.lang %}

    <h2 class="mt-4 mb-4">{% translate "Set new renter to car:" %} {% get_translated_car_name car request.user.lang %}</h2>
    <section>
    {% for user in object_list %}
    	<div>
	    	<b>
		    	{{ user.first_name }}
	    	</b>

            {% endif %}
            <form>
                <input type="hidden" name="renter" value="{{ user.pk }}">
                <button class="btn btn-primary" >{% translate "Lease the car to this user" %}</button>
            </form>
    	</div>
    {% endfor %}
    </section>

    {% endlanguage %}
{% endblock %}