{% extends "base.html" %}
{% load i18n %}

{% block sub_title %}{% translate "Reset password" %}{% endblock sub_title %}

{% block content %}
{% if validlink %}

<form method="POST" >
    <h1>{% translate "Reset password" %}</h1>
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">{% translate "Change password" %}</button>
</form>

{% else %}

<h3>
	{% translate "Wrong link to reset password. Maybe it was already used. Please, be so kind and request" %} <a href="{% url 'auth:password_reset' %}">{% translate "reset password" %}</a> {% translate "again" %}.</h3>

{% endif %}
{% endblock content %}