{% extends "base.html" %}
{% load i18n %}
{% load car_rent %}

{% block sub_title %}{{ request.user.first_name }}{% endblock sub_title %}


{% block content %}
	{% language request.user.lang %}
    <h1 class="mt-4 mb-4">{{ request.user.first_name }}</h1>

  <p>
    <a href="{% url 'users:edit' %}">{% translate "Edit profile" %}</a>
    <a href="{% url 'auth:password_change' %}">{% translate "Password change" %}</a>
  </p>

    <h3>{% translate "Cars in rent" %}
        {% if request.user.is_superuser or request.user.is_stuff %}
            <a href="{% url "car_rent:list" %}"><button class="btn btn-warning m-1">{% translate "To the list of all cars" %}</button></a>
        {% endif %}
    </h3>
    <section>
    {% for car in cars %}
    	<div>
	    	<b>
		    	{% get_translated_car_name car request.user.lang %}
	    	</b>
	    	{% translate "Production year:" %} {{ car.production_year }}
    	</div>
    {% endfor %}
    </section>

    {% endlanguage %}
{% endblock %}
